// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f4f4f4;

// blacks
$raisin-black: rgba(38, 34, 34, 1);

// grays
$taupe-gray: rgba(156, 148, 148, 1);
$dim-gray: rgba(106, 99, 99, 1);

// white shadow
$shadow-white: rgba(103, 101, 101, 0.4);
