<%# <div class="navbar__spacing"> %>
  <%= link_to 'Wellcome', root_path, class:"navbar__font" %>
  <%= link_to 'About', about_path, class:"navbar__font" %>
  <%= link_to 'Projects', projects_path, class:"navbar__font" %>
  <%= link_to 'Contact', contact_path, class:"navbar__font" %>
  <%# <div class="navbar__font">Wellcome</div>
  <div class="navbar__font">About</div>
  <div class="navbar__font">Projects</div>
  <div class="navbar__font">Contact</div> %>
<%# </div> %>
