<%# <div class="d-flex">

  <div class="side_bar--dimensions">
    <div class="triangle_down"></div>
    <div class="triangle_up"></div>
  </div>


  <div class="w-100">
    <div class="navbar__spacing">
      <div class="navbar__font">Wellcome</div>
      <div class="navbar__font">About</div>
      <div class="navbar__font">Projects</div>
      <div class="navbar__font">Contact</div>
    </div>

    <div class="body__spacing">


    </div>
  </div>
</div> %>
<div class="navbar__font">
  aqui é a home
</div>
