.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar__spacing {
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__font {
  font-family: $my-font;
  font-size: 25px;
  color: white;
  text-decoration: none;

  &:hover {
    color: gray;
    transition: 0.4s;
    cursor: pointer;
  }
}
